.container {
  --wb-sdk-connectable-item-inset: calc(var(--wb-ds-space-100) + 1px);

  display: flex;
  flex-direction: column;
  gap: var(--wb-ds-space-100); /* missing token */
  border-radius: var(--wb-ds-canvas-node-content-radius);
  padding: var(--wb-ds-space-100); /* missing token */
  border: 1px solid var(--wb-ds-ui-stroke-default);
  color: var(--wb-ds-ui-text-default);

  composes: wb-text-body-s-emphasized from global;
}
