.container {
  --wb-sdk-connectable-item-inset: calc(0.625rem + 1px);

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 0.5rem;
  padding: 0.625rem;
  border: 1px solid var(--wb-ds-ui-stroke-default);
  color: var(--wb-ds-ui-text-default);

  composes: wb-text-body-s-emphasized from global;
}
