:root {
  --wb-public-node-title-color: var(--wb-ds-ui-text-default);
  --wb-public-node-title-subtitle: var(--wb-ds-ui-text-subtle-default);
}

@layer ui.component {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    min-width: 0;
    contain: inline-size;

    .title,
    .subtitle {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }

    .title {
      color: var(--wb-public-node-title-color);
    }

    .subtitle {
      color: var(--wb-public-node-title-subtitle);
    }
  }
}
