:root {
  --wb-public-icon-size-xl: var(--wb-ds-size-300);
  --wb-public-icon-size-l: var(--wb-ds-size-250);
  --wb-public-icon-size-m: var(--wb-ds-size-225);
  --wb-public-icon-size-s: var(--wb-ds-size-225);
  --wb-public-icon-size-xs: var(--wb-ds-size-200);
}

@layer ui.component {
  .icon {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      min-height: 100%;
      max-height: 100%;
    }
  }

  .xl > .icon {
    width: var(--wb-public-icon-size-xl);
    height: var(--wb-public-icon-size-xl);
  }

  .l > .icon {
    width: var(--wb-public-icon-size-l);
    height: var(--wb-public-icon-size-l);
  }

  .m > .icon {
    width: var(--wb-public-icon-size-m);
    height: var(--wb-public-icon-size-m);
  }

  .s > .icon {
    width: var(--wb-public-icon-size-s);
    height: var(--wb-public-icon-size-s);
  }

  .xs > .icon {
    width: var(--wb-public-icon-size-xs);
    height: var(--wb-public-icon-size-xs);
  }
}
