:root {
  --wb-public-button-border-size: var(--wb-ds-size-12);

  --wb-public-button-primary-background: var(--wb-ds-components-button-solid-primary-default);
  --wb-public-button-primary-background-hover: var(--wb-ds-components-button-solid-primary-hover);
  --wb-public-button-primary-background-active: var(--wb-ds-components-button-solid-primary-active);
  --wb-public-button-primary-background-focus: var(--wb-ds-components-button-solid-primary-focus);
  --wb-public-button-primary-background-disabled: var(--wb-ds-components-button-solid-disabled);
  --wb-public-button-primary-color: var(--wb-ds-ui-text-onaccent-default);
  --wb-public-button-primary-color-disabled: var(--wb-ds-ui-text-disabled);

  --wb-public-button-secondary-background: var(--wb-ds-components-button-solid-gray-default);
  --wb-public-button-secondary-background-hover: var(--wb-ds-components-button-solid-gray-hover);
  --wb-public-button-secondary-background-active: var(--wb-ds-components-button-solid-gray-active);
  --wb-public-button-secondary-background-focus: var(--wb-ds-components-button-solid-gray-focus);
  --wb-public-button-secondary-background-disabled: var(--wb-ds-components-button-solid-disabled);
  --wb-public-button-secondary-color: var(--wb-ds-ui-text-onaccent-default);
  --wb-public-button-secondary-color-disabled: var(--wb-ds-ui-text-disabled);

  --wb-public-button-critical-background: var(--wb-ds-components-button-solid-critical-default);
  --wb-public-button-critical-background-hover: var(--wb-ds-components-button-solid-critical-hover);
  --wb-public-button-critical-background-active: var(--wb-ds-components-button-solid-critical-active);
  --wb-public-button-critical-background-focus: var(--wb-ds-components-button-solid-critical-focus);
  --wb-public-button-critical-background-disabled: var(--wb-ds-components-button-solid-disabled);
  --wb-public-button-critical-color: var(--wb-ds-ui-text-onaccent-default);
  --wb-public-button-critical-color-disabled: var(--wb-ds-ui-text-disabled);

  --wb-public-button-success-background: var(--wb-ds-components-button-solid-success-default);
  --wb-public-button-success-background-hover: var(--wb-ds-components-button-solid-success-hover);
  --wb-public-button-success-background-active: var(--wb-ds-components-button-solid-success-active);
  --wb-public-button-success-background-focus: var(--wb-ds-components-button-solid-success-focus);
  --wb-public-button-success-background-disabled: var(--wb-ds-components-button-solid-disabled);
  --wb-public-button-success-color: var(--wb-ds-ui-text-onaccent-default);
  --wb-public-button-success-color-disabled: var(--wb-ds-ui-text-disabled);

  --wb-public-button-ghost-primary-background-color: var(--wb-ds-components-button-ghost-primary-default);
  --wb-public-button-ghost-primary-background-color-hover: var(--wb-ds-components-button-ghost-primary-hover);
  --wb-public-button-ghost-primary-background-color-active: var(--wb-ds-components-button-ghost-primary-active);
  --wb-public-button-ghost-primary-background-color-focus: var(--wb-ds-components-button-ghost-primary-focus);
  --wb-public-button-ghost-primary-background-color-disabled: var(--wb-ds-components-button-ghost-primary-disabled);
  --wb-public-button-ghost-primary-border-color: var(--wb-ds-components-button-ghost-primary-stroke-default);
  --wb-public-button-ghost-primary-color: var(--wb-ds-ui-text-action-default);
  --wb-public-button-ghost-primary-color-disabled: var(--wb-ds-ui-text-action-disabled);

  --wb-public-button-ghost-secondary-background-color: var(--wb-ds-colors-transparent);
  --wb-public-button-ghost-secondary-background-color-hover: var(--wb-ds-colors-transparent);
  --wb-public-button-ghost-secondary-background-color-active: var(--wb-ds-colors-transparent);
  --wb-public-button-ghost-secondary-background-color-focus: var(--wb-ds-colors-transparent);
  --wb-public-button-ghost-secondary-background-color-disabled: var(--wb-ds-colors-transparent);
  --wb-public-button-ghost-secondary-border-color: var(--wb-ds-ui-stroke-subtle);
  --wb-public-button-ghost-secondary-border-color-hover: var(--wb-ds-colors-gray-500);
  --wb-public-button-ghost-secondary-border-color-active: var(--wb-ds-colors-gray-500);
  --wb-public-button-ghost-secondary-border-color-focus: var(--wb-ds-colors-gray-500);
  --wb-public-button-ghost-secondary-border-color-disabled: var(--wb-ds-ui-stroke-subtle);
  --wb-public-button-ghost-secondary-color: var(--wb-ds-ui-text-default);
  --wb-public-button-ghost-secondary-color-disabled: var(--wb-ds-ui-text-ghost-default);

  --wb-public-button-ghost-critical-background-color: var(--wb-ds-components-button-ghost-critical-default);
  --wb-public-button-ghost-critical-background-color-hover: var(--wb-ds-components-button-ghost-critical-hover);
  --wb-public-button-ghost-critical-background-color-active: var(--wb-ds-components-button-ghost-critical-active);
  --wb-public-button-ghost-critical-background-color-focus: var(--wb-ds-components-button-ghost-critical-focus);
  --wb-public-button-ghost-critical-background-color-disabled: var(--wb-ds-components-button-ghost-critical-disabled);
  --wb-public-button-ghost-critical-border-color: var(--wb-ds-components-button-ghost-critical-stroke-default);
  --wb-public-button-ghost-critical-color: var(--wb-ds-ui-text-critical-default);
  --wb-public-button-ghost-critical-color-disabled: var(--wb-ds-ui-text-critical-disabled);

  --wb-public-button-ghost-success-background-color: var(--wb-ds-components-button-ghost-success-default);
  --wb-public-button-ghost-success-background-color-hover: var(--wb-ds-components-button-ghost-success-hover);
  --wb-public-button-ghost-success-background-color-active: var(--wb-ds-components-button-ghost-success-active);
  --wb-public-button-ghost-success-background-color-focus: var(--wb-ds-components-button-ghost-success-focus);
  --wb-public-button-ghost-success-background-color-disabled: var(--wb-ds-components-button-ghost-success-disabled);
  --wb-public-button-ghost-success-border-color: var(--wb-ds-components-button-ghost-success-stroke-default);
  --wb-public-button-ghost-success-color: var(--wb-ds-ui-text-success-default);
  --wb-public-button-ghost-success-color-disabled: var(--wb-ds-ui-text-success-disabled);
}

@layer ui.component {
  .primary {
    --button-background: var(--wb-public-button-primary-background);
    --button-background-hover: var(--wb-public-button-primary-background-hover);
    --button-background-active: var(--wb-public-button-primary-background-active);
    --button-background-focus: var(--wb-public-button-primary-background-focus);
    --button-background-disabled: var(--wb-public-button-primary-background-disabled);
    --button-color: var(--wb-public-button-primary-color);
    --button-color-disabled: var(--wb-public-button-primary-color-disabled);
  }

  .secondary {
    --button-background: var(--wb-public-button-secondary-background);
    --button-background-hover: var(--wb-public-button-secondary-background-hover);
    --button-background-active: var(--wb-public-button-secondary-background-active);
    --button-background-focus: var(--wb-public-button-secondary-background-focus);
    --button-background-disabled: var(--wb-public-button-secondary-background-disabled);
    --button-color: var(--wb-public-button-secondary-color);
    --button-color-disabled: var(--wb-public-button-secondary-color-disabled);
  }

  .critical {
    --button-background: var(--wb-public-button-critical-background);
    --button-background-hover: var(--wb-public-button-critical-background-hover);
    --button-background-active: var(--wb-public-button-critical-background-active);
    --button-background-focus: var(--wb-public-button-critical-background-focus);
    --button-background-disabled: var(--wb-public-button-critical-background-disabled);
    --button-color: var(--wb-public-button-critical-color);
    --button-color-disabled: var(--wb-public-button-critical-color-disabled);
  }

  .success {
    --button-background: var(--wb-public-button-success-background);
    --button-background-hover: var(--wb-public-button-success-background-hover);
    --button-background-active: var(--wb-public-button-success-background-active);
    --button-background-focus: var(--wb-public-button-success-background-focus);
    --button-background-disabled: var(--wb-public-button-success-background-disabled);
    --button-color: var(--wb-public-button-success-color);
    --button-color-disabled: var(--wb-public-button-success-color-disabled);
  }

  .primary,
  .secondary,
  .critical,
  .success {
    background-color: var(--button-background);
    color: var(--button-color);

    &:not(:disabled):hover {
      background-color: var(--button-background-hover);
    }

    &:not(:disabled):active {
      background-color: var(--button-background-active);
    }

    &:not(:disabled):focus-visible {
      background-color: var(--button-background-focus);
    }

    &:disabled {
      background-color: var(--button-background-disabled);
      color: var(--button-color-disabled);
    }
  }

  .ghost-primary {
    --button-background: var(--wb-public-button-ghost-primary-background-color);
    --button-background-hover: var(--wb-public-button-ghost-primary-background-color-hover);
    --button-background-active: var(--wb-public-button-ghost-primary-background-color-active);
    --button-background-focus: var(--wb-public-button-ghost-primary-background-color-focus);
    --button-background-disabled: var(--wb-public-button-ghost-primary-background-color-disabled);
    --button-border-color: var(--wb-public-button-ghost-primary-border-color);
    --button-border-color-hover: var(--wb-public-button-ghost-primary-border-color);
    --button-border-color-active: var(--wb-public-button-ghost-primary-border-color);
    --button-border-color-focus: var(--wb-public-button-ghost-primary-border-color);
    --button-border-color-disabled: var(--wb-public-button-ghost-primary-border-color);
    --button-color: var(--wb-public-button-ghost-primary-color);
    --button-color-disabled: var(--wb-public-button-ghost-primary-color-disabled);
  }

  .ghost-secondary {
    --button-background: var(--wb-public-button-ghost-secondary-background-color);
    --button-background-hover: var(--wb-public-button-ghost-secondary-background-color-hover);
    --button-background-active: var(--wb-public-button-ghost-secondary-background-color-active);
    --button-background-focus: var(--wb-public-button-ghost-secondary-background-color-focus);
    --button-background-disabled: var(--wb-public-button-ghost-secondary-background-color-disabled);
    --button-border-color: var(--wb-public-button-ghost-secondary-border-color);
    --button-border-color-hover: var(--wb-public-button-ghost-secondary-border-color-hover);
    --button-border-color-active: var(--wb-public-button-ghost-secondary-border-color-active);
    --button-border-color-focus: var(--wb-public-button-ghost-secondary-border-color-focus);
    --button-border-color-disabled: var(--wb-public-button-ghost-secondary-border-color-disabled);
    --button-color: var(--wb-public-button-ghost-secondary-color);
    --button-color-disabled: var(--wb-public-button-ghost-secondary-color-disabled);
  }

  .ghost-critical {
    --button-background: var(--wb-public-button-ghost-critical-background-color);
    --button-background-hover: var(--wb-public-button-ghost-critical-background-color-hover);
    --button-background-active: var(--wb-public-button-ghost-critical-background-color-active);
    --button-background-focus: var(--wb-public-button-ghost-critical-background-color-focus);
    --button-background-disabled: var(--wb-public-button-ghost-critical-background-color-disabled);
    --button-border-color: var(--wb-public-button-ghost-critical-border-color);
    --button-border-color-hover: var(--wb-public-button-ghost-critical-border-color);
    --button-border-color-active: var(--wb-public-button-ghost-critical-border-color);
    --button-border-color-focus: var(--wb-public-button-ghost-critical-border-color);
    --button-border-color-disabled: var(--wb-public-button-ghost-critical-border-color);
    --button-color: var(--wb-public-button-ghost-critical-color);
    --button-color-disabled: var(--wb-public-button-ghost-critical-color-disabled);
  }

  .ghost-success {
    --button-background: var(--wb-public-button-ghost-success-background-color);
    --button-background-hover: var(--wb-public-button-ghost-success-background-color-hover);
    --button-background-active: var(--wb-public-button-ghost-success-background-color-active);
    --button-background-focus: var(--wb-public-button-ghost-success-background-color-focus);
    --button-background-disabled: var(--wb-public-button-ghost-success-background-color-disabled);
    --button-border-color: var(--wb-public-button-ghost-success-border-color);
    --button-border-color-hover: var(--wb-public-button-ghost-success-border-color);
    --button-border-color-active: var(--wb-public-button-ghost-success-border-color);
    --button-border-color-focus: var(--wb-public-button-ghost-success-border-color);
    --button-border-color-disabled: var(--wb-public-button-ghost-success-border-color);
    --button-color: var(--wb-public-button-ghost-success-color);
    --button-color-disabled: var(--wb-public-button-ghost-success-color-disabled);
  }

  .ghost-primary,
  .ghost-secondary,
  .ghost-critical,
  .ghost-success {
    --button-border-color-current: var(--button-border-color);

    background-color: var(--button-background);
    color: var(--button-color);

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border: var(--wb-public-button-border-size) solid var(--button-border-color-current);
      border-radius: inherit;
      pointer-events: none;
    }

    &:not(:disabled):hover {
      --button-border-color-current: var(--button-border-color-hover);

      background-color: var(--button-background-hover);
    }

    &:not(:disabled):active {
      --button-border-color-current: var(--button-border-color-active);

      background-color: var(--button-background-active);
    }

    &:not(:disabled):focus-visible {
      --button-border-color-current: var(--button-border-color-focus);

      background-color: var(--button-background-focus);
    }

    &:disabled {
      --button-border-color-current: var(--button-border-color-disabled);

      background-color: var(--button-background-disabled);
      color: var(--button-color-disabled);
    }
  }
}
