:root {
  --wb-sdk-node-section-gap: var(--wb-ds-space-100); /* missing token */
  --wb-sdk-node-section-padding: var(--wb-ds-space-100); /* missing token */
  --wb-sdk-node-section-border-radius: var(--wb-ds-canvas-node-content-radius);
  --wb-sdk-node-section-border-color: var(--wb-ds-ui-stroke-default);
  --wb-sdk-node-section-border-width: 0.0625rem;
}

.container {
  --wb-sdk-connectable-item-inset: calc(var(--wb-sdk-node-section-padding) + var(--wb-sdk-node-section-border-width));

  display: flex;
  flex-direction: column;
  gap: var(--wb-sdk-node-section-gap);
  border-radius: var(--wb-sdk-node-section-border-radius);
  padding: var(--wb-sdk-node-section-padding);
  border: var(--wb-sdk-node-section-border-width) solid var(--wb-sdk-node-section-border-color);
  color: var(--wb-ds-ui-text-default);

  composes: wb-text-body-s-emphasized from global;
}
